:host {
  @apply(--layout-vertical);
  @apply(--layout-fit);
}

.props {
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 10px;
  padding-right: 10px;
}

#addCompBtn {
  margin-top: 10px;
  margin-bottom: 10px;
}
